@import "tailwindcss";

:root {
  --background: #C1C6C8;
  --foreground: #041E42;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #C1C6C8;
    --foreground: #041E42;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
